<!DOCTYPE html>
<head>
    <title>
         World Weather - Forecast on the Go!
    </title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head> 
<body>
    <div class="main-content">
        {{>header}}
        <img class="author" src="./img/author.jpg">
    </div>
    {{>footer}}
</body>
</html>