<!DOCTYPE html>
<head>
    <title>
        World Weather - Forecast on the Go!
    </title>    
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head> 
<body>
    <div class="main-content">
        {{>header}}
    <h3>
        Reach out to us at weather-support@weatherforecastonthego.com
    </h3>
    </div>
    {{>footer}}
</body>
</html>