<!DOCTYPE html>
<head>
    <title>
         World Weather - Forecast on the Go!
    </title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/style.css">   
</head> 
<body>
    <div class="main-content">
            {{>header}}
            <p>World Forecast on the Go</p>
            <form>
                <input placeholder="Enter City Name">
                <button>Get Forecast</button>
            </form>
            <p id="message-1"></p>
            <p id="message-2"></p>

    </div>
    {{>footer}}
     <script src="./js/app.js"></script>
</body>
</html>